h1{
    color: gold;
}
.search-items{
    padding-top: 100px;
}
.search-form{
    margin-left: 35%;
    height: 40px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid grey;
}
.search-button{
    height: 40px;
    width: 70px;
    color: white;
    background-color: tomato;
    border-radius: 5px;
    border: 1px solid grey;
}
#items-display{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
#display-details{
    display: none;
}
.card-detail-image{
    width: 588px;
    height: 322px;
}